* {
  box-sizing: border-box;
}

.login-form {
  padding: 30px 25px;
}

.login-form label {
  display: block;
  padding-left: 2px;
  margin-bottom: 7px;
}

.login-form .label-link {
  float: right;
  font-size: 12px;
  color: #0366d6;
  text-decoration: none;
}

.login-form input {
  display: block;
  width: 100%;
  margin-top: 5px;
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  color: #24292e;
  font-size: 14px;
  line-height: 20px;
  min-height: 24px;
  outline: none;
  padding: 6px 8px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .invalid-feedback {
  color: #dc3545;
  font-size: 0.8em;
  margin-top: .1rem;
}

.login-form .btn {
  margin-top: 20px;
  text-align: center;
}

.login-form .btn button {
  color: inherit;
  line-height: 20px;
  padding: 6px 8px;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: rgba(175, 47, 47, 0.2);
  width: 100%;
}

.login-form .btn button:hover, button:focus {
  cursor: pointer;
  border-color: rgba(175, 47, 47, 0.35);
}

.login-footer {
  padding-bottom: 10px;
}

.login-footer p {
  margin-top: 0px;  
  text-align: center;
  font-size: 1.1em;
}