<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link href="/node_modules/todomvc-app-css/index.css" rel="stylesheet" />
    <link href="/src/login/style.css" rel="stylesheet" />
    <title>Todoapp</title>     
</head>
<body>
    <section class="todoapp">
        <header class="header">
            <h1>todos</h1>
        </header>
        <main class="login-form">
            <form method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus" required="required"/>                    
                    <div th:if="${bindingResult != null && bindingResult.hasFieldErrors('username')}" class="invalid-feedback">
                        <span th:text="${@messageSource.getMessage(bindingResult.getFieldError('username'), #ctx.locale)}">Please provide a valid username</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" tabindex="2" minlength="8" required="required"/>
                    <div th:if="${bindingResult != null && bindingResult.hasFieldErrors('password')}" class="invalid-feedback">
                        <span th:text="${@messageSource.getMessage(bindingResult.getFieldError('password'), #ctx.locale)}">Please provide a valid password</span>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit" tabindex="3" data-disable-with="login...">Login</button>
                </div>
            </form>
        </main>
        <footer class="login-footer">
            <p th:if="${message == null}">unregistered users are automatically joined.</p>
            <p th:if="${message != null}" th:text="${message}">{{ Server Message }}</p>            
        </footer>
    </section>
    <footer th:if="${site}" class="info">
        <p>Created by <a href="https://github.com/springrunner"><span th:text="${site.author}" th:remove="tag">the SpringRunner Team</span></a></p>
        <p th:text="${site.description}">Part of <a href="https://github.com/springrunner/mastering-spring-web-101">Mastering Spring Web 101 Workshop</a></p>
    </footer>
    <script type="module" src="/src/login/app.js"></script>
</body>
</html>